.about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.about aside{
  width: 100%;
  max-width: var(--width-box);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  gap: 32px;
}

.about button.toHome{
  width: 130px;
  height: 38px;
  background: var(--color-element);
  border: none;
  color: var(--color-text);
  border-radius: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.about button.toHome:hover{
  background: var(--color-hover);
}

.country{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width-box);
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
  gap: 32px
}

@media (max-width: 480px){
  .country{
    flex-direction: column;
  }
}

.country-image{
  width: 100%;
  max-width: 560px;
}
