.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
}

.boxSearch{
  width: 100%;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--width-box);
}