.content {
  display: flex;
  border: 1px solid var(--color-gray-300);
  padding: 20px 24px;
  align-items: center;
  justify-content: space-between;
  height: 81px;
  border-radius: 8px;
  cursor: pointer;
}

.content:hover,
.content.active {
  border: 1px solid var(--color-blue-500);
}

.content.active .price {
  color: var(--color-blue-500);
}

.content .info {
  align-items: center;
  display: flex;
  gap: 24px;
}

.content .info .title {
  font-size: 16px;
}

.content .info .description {
  font-size: 14px;
}

.content .price {
  font-weight: 600;
  font-size: 14px;
}

.content input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--color-gray-300);
  cursor: pointer;
  overflow: hidden;
  min-width: 20px;
  min-height: 20px;
}

.content input:checked {
  border: 1px solid var(--color-blue-500);
  background-color: var(--color-blue-500);
  background-image: url(/assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center center;
}

@media (max-width: 376px) {
  .content {
    width: 100%;
    padding: 13px 15px;
  }
  .content .info {
    gap: 16px;
  }

  .content .info .summary {
    gap: 4px;
  }
  .content .info .summary.title {
    font-size: 13.5px;
  }
  .content .info .summary .description {
    font-size: 12px;
  }
  .content .price {
    font-size: 12px;
  }
}
