.cards{
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  border: none;
}

.toggle{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 376px){
  .cards{
    gap: 12px;
  }
}