@import url(./root.css);
@import url(./style.css);
@import url(./slider.css);

/* Utilities */
.btn-primary {
  background: var(--primary);
  color: var(--Very-Pale-Red);
  font-weight: 500;
  border: unset;
}
