.slider {
  width: 100%;
  max-height: 100vw;
  height: auto;
}

.slider::-webkit-scrollbar,
.slider::-webkit-scrollbar-button,
.slider::-webkit-resizer,
.slider::-webkit-scrollbar-corner,
.slider::-webkit-scrollbar-thumb,
.slider::-webkit-scrollbar-track-piece,
.slider::-webkit-scrollbar-track {
  display: none;
  background: transparent;
  height: 0px;
  width: 0px;
  border: 0px;
}

.slider .slider-wrapper {
  overflow-x: scroll;

  -ms-overflow-style: none;
  -ms-scroll-chaining: none;

  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  scroll-snap-align: center;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 45px auto;
  margin-bottom: 24px;
  scroll-snap-type: x mandatory;
  cursor: default;
}

.slider .slider-wrapper .slider-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: fit-content;
  position: relative;
  gap: 16px;
  padding: 32px 16px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: auto;
  scrollbar-width: none;
}

.slider .slider-wrapper .slider-content .slider-item {
  width: 100%;
  scroll-snap-align: center;
  background: var(--vary-light-gray);
  min-width: calc(100vw - 32px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 12px;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 340px;
  height: 250px;
}

.slider .slider-wrapper .slider-item .item-image {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 21;
}

.slider .slider-wrapper .slider-item .slider-avatar {
  width: 64px;
  height: 64px;
}

.slider .slider-wrapper .slider-item .item-title {
  color: var(--secondary);
  font-size: 16px;
}

.slider .slider-wrapper .slider-item .item-text {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  text-align: center;
  margin-top: 16px;
  line-height: 1.8;
}

.slider .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.slider .actions .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.slider .actions .dot-active {
  background: var(--primary);
}

@media (min-width: 748px) {
  .slider .slider-wrapper .slider-content .slider-item {
    width: 530px;
    min-width: unset;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .slider .actions {
    display: none;
  }

  .slider {
    margin-top: 40px;
  }
}
