
.navbar {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  height: 100%;
}

.menu .menu-item .menu-link {
  height: 100%;
  color: var(--color-Dark-grayish-blue);
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: 250ms linear ease-in-out;
}

.menu .menu-item .menu-link:hover {
  border-bottom: 2px solid var(--color-primary);
  color: var(--Very-vark-blue);
}

@media (max-width: 818px){
  .navbar{
    display: none;
  }

  nav.show{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
  }

  .show .menu{
    flex-direction: column;
    background: #fff;
    width: 60%;
    padding-top: 125px;
    padding-left: 30px;
  }

  .show .menu-item .menu-link{
    max-width: calc(100% - 30px);
  }
}