*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

:root{
    --color-Cyan: hsl(179, 62%, 43%);
    --color-Bright-Yellow: hsl(71, 73%, 54%);
    --color-Light-Gray: hsl(204, 43%, 93%);
    --color-Grayish-Blue: hsl(218, 22%, 67%);
    --size-padding: 40px;
}
@media (max-width: 520px){
    :root{
        --size-padding: 25px;
    }
}
body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

h2,h2,h3,h4,h5,h6{
    font-family: 'Karla', sans-serif;
    font-weight: bold;    
    margin: 0;
}

h1{
    color: var(--color-Cyan);
    margin-bottom: 24px;
    font-size: 24px;
}

h2{
    color: var(--color-Bright-Yellow);
    font-size: 18px;
    margin-bottom: 16px;
}

h3{
    color: var(--color-Light-Gray);
}

.main{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-Light-Gray);
    padding: 30px 0;
    overflow-x: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    max-width: 640px;
    color: #fff;
}

.card__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card__container:nth-child(1){
    background: #fff;
    color: var(--color-Grayish-Blue);
    padding: var(--size-padding);
    display: flex;
    flex-direction: column;
}

.card__container:nth-child(1) p{
    line-height: 24px;
}

.card__col{
    flex: 1;
    background: var(--color-Cyan);
    padding: var(--size-padding);
    min-width: 320px;
}

.card__col h2{
    color: var(--color-Light-Gray);
}

.card__subscribe{
    display: flex;
    flex-direction: column;
}

.card__price{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.card__price h3{
    font-size: 28px;
    margin-right: 8px;
}

.card__price span{
    opacity: 0.5;
}

.card__button{
    width: 100%;
    height: 45px;
    background: var(--color-Bright-Yellow);
    color: var(--color-Light-Gray);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 24px;
}

.card_why{
    display: flex;
    flex-direction: column;
    opacity: 0.81;
}

.card_why span{
    font-size: 14px;
    opacity: 0.8;
    margin: 2px 0;
}