.main{
  display: grid;
  grid-template-columns: 274px calc(100% - 374px);
  grid-template-areas: "header section";
  grid-gap: 100px;
  background-color: var(--msf-foreground-bg);

  width: 100%;
  max-width: 940px;
  height: 100%;
  max-height: 600px;
  box-shadow: 3px 3px 54px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 16px;
}