
.container {
  height: 12px;
  width: 80px;
  display: flex;
  position: relative;
}

.container .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-text);
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}

.container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(25px);
  }
}