@import url("./scroll.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg: #1A1c22;
    --primary: #580ef6;
    --secondary: #3d3a50;
    --text: #f7f7f7;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

.main{
    width: 100vw;
    min-height: 100vh;
    background: #dedede;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.main header{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 99999
}

.main header .brand img{
    width: 52px;
    height: 52px;
}

.main header .social img{
    width: 26px;
    height: 26px;
    opacity: 0.4;
}

.main header .social a:hover img{
    opacity: 1;
    transition: 250ms linear;
}

@media (max-width: 550px){
    .main .header{
        padding: 20px;
    }

    .main .header .brand img{
        width: 42px;
        height: 42px;
    }
}


.welcome{
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.welcome::before{
    content: "";
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 30px;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 16px
}

.welcome::after{
    content: "";
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    width: 5px;
    height: 5px;
    background: #ddd;
    border-radius: 50%; 
    animation: mouseAnimation linear infinite 1s;
}

@keyframes mouseAnimation{
    0%{
        opacity: 0;
        bottom: 90px;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        bottom: 60px;
    }
}

.welcome p{
    color: #aaa;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
}

.welcome img{
    max-width: 450px;
}

@media (max-width: 650px){
    .welcome p{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }
}

@media (max-width: 550px){
    .welcome img{
        width: calc(100% - 60px);
    }
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}

.cards .card{
    width: 100%;
    max-width: 375px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--primary);
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 320ms ease-in-out;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.7);

}

@media (max-width: 930px){
    .cards{
        padding: 80px 40px;
        justify-content: center;
    }
    .cards .card{
        max-width: calc((100% / 2) - 80px);
        height: auto;
    }
}


@media (max-width: 550px){
    .cards .card{
        max-width: 100%;
    }
}

@media (max-width: 370px){
    .cards .card{
        max-width: unset;
        min-width: unset;
        width: 100%;
        height: auto;
    }
}

.card:hover{
    transform: translateY(-12px);
}
.cards .card h2{
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.cards .card a{
    color: #580ef6;
    text-decoration: none;
    font-size: 18px;
}