.step{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--step-border);
  color: var(--step-color);
  background-color: var(--step-bg);
  cursor: default;
}

.step[data-state="active"]{
  border: 2px solid var(--setp-border-active);
  color: var(--step-color-active);
  background-color: var(--step-bg-active);
}