video,
img {
  width: 100%;
  height: auto;
}

html,
body,
#root {
  font-size: 16px;
  font-family: "Ubunto", sans-serif;
  background-color: var(--msf-bg);
  color: var(--msf-text-color);
  font-weight: normal;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 0;
}

button,
input {
  font-size: 1rem;
  font-family: "Ubunto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--msf-title-color);
  font-weight: bold;
}

::selection {
  background: var(--color-blue-600);
  color: var(--color-white-100);
}

@media (max-width: 376px) {
  #root {
    padding-top: 100px;
    height: auto;
    align-items: flex-start;
  }
}
